In [ ]:
import os
import pandas as pd

cwd = os.getcwd()
path ="/".join(list(cwd.split('/')[0:-1])) 

top_movies = path+'/Data/webscrape/finalmovies.csv'

movies_df = pd.read_csv(top_movies,header=0)

bechdel_data=path+'/Data/bechdel/Bechdel_detailed.csv'
bechdel_df= pd.read_csv(bechdel_data)

movies_df
bechdel_df.rename(columns={"title":"Title"}, inplace=True)

In [ ]:
import re

#rename manually

bechdel_df.loc[bechdel_df['Title'].str.contains('Rogue One'), 'Title'] = bechdel_df['Title'].str.replace('Rogue One', 'Rogue One: A Star Wars Story')

bechdel_df.loc[bechdel_df['Title'].str.contains('Last Jedi'), 'Title'] = bechdel_df['Title'].str.replace('Star Wars: The Last Jedi', 'Star Wars: Episode VIII - The Last Jedi')

bechdel_df.loc[bechdel_df['Title'].str.fullmatch('Star Wars'), 'Title'] = bechdel_df['Title'].str.replace('Star Wars', 'Star Wars: Episode IV - A New Hope')

In [ ]:

#remove special characters etc
def normalize_string(s):
    s = s.replace('&#39;','')	
    s = s.replace("'", '')  # apostrophes with empty string
    s = re.sub(r'\W+', '', s)  # Remove non-alphanumeric 
    s = s.lower()  # Convert to lowercase
    s = s.replace(' ', '_') 
    s = s.replace('the', '')# Replace spaces with underscores
    s = s.replace('judgment', 'judgement')
    return s


bechdel_df['name_normalized'] = bechdel_df['Title'].apply(normalize_string)
movies_df['name_normalized'] = movies_df['Title'].apply(normalize_string)

In [ ]:
final_df = pd.merge(bechdel_df, movies_df, on='name_normalized', how='right')
final_df

,imdbid,Title,Decade,Genre,Director,year,bechdel_rating,dubious
0,38969.0,Song of the South,40s,Animation,"Wilfred Jackson, Harve Foster",1946.0,2.0,0.0
1,NaN,Samson and Delilah,40s,Historical,Cecil B.DeMille,NaN,NaN,NaN
2,31381.0,Gone with the Wind,40s,Drama,Victor Fleming,1939.0,3.0,NaN
3,NaN,The Bells of St. Mary,40s,Musical,Leo McCarey,NaN,NaN,NaN
4,NaN,Sergeant York,40s,War,Leo McCarey,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
76,499549.0,Avatar,2010s,SCI-FI,James Cameron,2009.0,3.0,0.0
77,770828.0,Man of Steel,2010s,Action,Zack Snyder,2013.0,3.0,0.0
78,3748528.0,Rogue One: A Star Wars Story,2010s,SCI-FI,Gareth Edwards,2016.0,3.0,0.0
79,1201607.0,Harry Potter and the Deathly Hallows: Part 2,2010s,Fantasy,David Yates,2011.0,3.0,1.0
80,1877832.0,X-Men: Days of Future Past,2010s,Action,Bryan Singer,2014.0,1.0,0.0

In [ ]:
#study missing values

null_values_x= final_df['Title_x'].isna()
null_values_x.sum()
final_df[null_values_x]

bechdel_no_data= final_df[null_values_x]
bechdel_no_data = bechdel_no_data.drop(["Unnamed: 0","name_normalized"], axis=1)
bechdel_no_data = bechdel_no_data.dropna(axis=1)
bechdel_no_data.rename(columns={"Title_y":"Title"}, inplace= True)
bechdel_no_data.reset_index(drop=True, inplace=True)
bechdel_no_data.to_csv

<bound method NDFrame.to_csv of    MOVIE_ID                  Title Decade       Genre  \
0         1     Samson and Delilah    40s  Historical
1         3  The Bells of St. Mary    40s     Musical
2         4          Sergeant York    40s         War
3         5           Going My Way    40s     Musical
4         6          Forever Amber    40s       Drama
5         7    Yankee Doodle Dandy    40s     Musical
6        18          The Sea Chase    50s         War
7        29              The Bible    60s  Historical
8        39    Fiddler on the Roof    70s     Musical

                        Director
0                Cecil B.DeMille
1                    Leo McCarey
2                    Leo McCarey
3                   Howard Hawks
4  John M. Stahl, Otto Preminger
5                 Michael Curtiz
6                    John Farrow
7                    John Huston
8                 Norman Jewison  >

In [ ]:



movies_bechdel = final_df.drop(['Unnamed: 0','submitterid','date','name_normalized', 'id','visible','Title_x'],axis=1)
movies_bechdel.rename(columns={"Title_y":"Title","rating":"bechdel_rating"}, inplace= True)
movies_bechdel = movies_bechdel[['imdbid','Title', 'Decade', 'Genre', 'Director', 'year', 'bechdel_rating', 'dubious']]

title_duplicates = movies_bechdel[movies_bechdel['Title'].duplicated(keep=False)]
# title_duplicates
#drop duplicates by their index
movies_bechdel= movies_bechdel.drop([24,25,29,77])
movies_bechdel.reset_index(drop=True, inplace=True)
# movies_bechdel[movies_bechdel['Title'].duplicated(keep=False)]
# movies_bechdel.to_csv(cwd+'/Data/bechdel/all_movies_bechdel.csv')

movies_bechdel

,imdbid,Title,Decade,Genre,Director,year,bechdel_rating,dubious
0,38969.0,Song of the South,40s,Animation,"Wilfred Jackson, Harve Foster",1946.0,2.0,0.0
1,NaN,Samson and Delilah,40s,Historical,Cecil B.DeMille,NaN,NaN,NaN
2,31381.0,Gone with the Wind,40s,Drama,Victor Fleming,1939.0,3.0,NaN
3,NaN,The Bells of St. Mary,40s,Musical,Leo McCarey,NaN,NaN,NaN
4,NaN,Sergeant York,40s,War,Leo McCarey,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
76,499549.0,Avatar,2010s,SCI-FI,James Cameron,2009.0,3.0,0.0
77,770828.0,Man of Steel,2010s,Action,Zack Snyder,2013.0,3.0,0.0
78,3748528.0,Rogue One: A Star Wars Story,2010s,SCI-FI,Gareth Edwards,2016.0,3.0,0.0
79,1201607.0,Harry Potter and the Deathly Hallows: Part 2,2010s,Fantasy,David Yates,2011.0,3.0,1.0
80,1877832.0,X-Men: Days of Future Past,2010s,Action,Bryan Singer,2014.0,1.0,0.0

In [29]:

#no two female characters scene
no_two_females = movies_bechdel[movies_bechdel["bechdel_rating"] == 0.0]
no_two_females.reset_index(drop=True, inplace=True)
# no_two_females.to_csv(cwd+'/Data/bechdel/bechdel_failed_0.csv')

#no two females talking
no_talking = movies_bechdel[movies_bechdel["bechdel_rating"] == 1.0]
no_talking.reset_index(drop=True, inplace=True)
# no_talking.to_csv(cwd+'/Data/bechdel/bechdel_failed_1.csv')

#two females, but talking about a man

talking_about_male = movies_bechdel[movies_bechdel["bechdel_rating"] == 2.0]
talking_about_male.reset_index(drop=True, inplace=True)
# talking_about_male.to_csv(cwd+'/Data/bechdel/bechdel_failed_2.csv')
#passed the bechdel test :)
bechdel_passed = movies_bechdel[movies_bechdel["bechdel_rating"] == 3.0] 
bechdel_passed.reset_index(drop=True, inplace=True)
# bechdel_passed.to_csv(cwd+'/Data/bechdel/bechdel_passed.csv')

"No more than one female character:", no_two_females['Title'], "Two female characters, but they do not talk to eachother:", no_talking['Title'], "Two female characters talking about a man:", talking_about_male['Title'], "Passed the bechdel test:", bechdel_passed['Title']

('No more than one female character:',
 0                             2001: A Space Odyssey
 1                                Lawrence of Arabia
 2    Star Wars: Episode V - The Empire Strikes Back
 3                                    Batman Returns
 4                             Mission Impossible II
 Name: Title, dtype: object,
 'Two female characters, but they do not talk to eachother:',
 0                                       Casablanca
 1                     The Bridge on the River Kwai
 2               Butch Cassidy and the Sundance Kid
 3               Star Wars: Episode IV - A New Hope
 4                                  Blazing Saddles
 5                                            Rocky
 6                                       Love Story
 7                                         Superman
 8                                           Batman
 9       Star Wars: Episode VI - Return of the Jedi
 10                            Beverly Hills Cop II
 11                         Who Framed Roger Rabbit
 12                                    Forrest Gump
 13                                    Men in Black
 14                                  Batman Forever
 15                                       Spiderman
 16    Star Wars: Episode III - Revenge of the Sith
 17                                    Spider-Man 2
 18                                    The Avengers
 19                      X-Men: Days of Future Past
 Name: Title, dtype: object,
 'Two female characters talking about a man:',
 0                            Song of the South
 1                         The Ten Commandments
 2                   The Greatest Show on Earth
 3                                 The Graduate
 4                                The Godfather
 5                                 Ghostbusters
 6                           Back to the Future
 7                                      Top Gun
 8    Pirates of the Caribbean: Dead Mans Chest
 Name: Title, dtype: object,
 'Passed the bechdel test:',
 0                                    Gone with the Wind
 1                                         The Snake Pit
 2                                 From Here To Eternity
 3                                       White Christmas
 4                                            Quo Vadis?
 5                                 Cat on a Hot Tin Roof
 6                                      Some like it hot
 7                                         All About Eve
 8                                    The Sound of Music
 9                                          Mary Poppins
 10                                            Cleopatra
 11                                      West Side Story
 12                                               Psycho
 13                                                 JAWS
 14                                         The Exorcist
 15                                               Grease
 16                           E.T. the Extra-Terrestrial
 17                                         Ghostbusters
 18                                          Superman II
 19                                              Titanic
 20            Star Wars: Episode I - The Phantom Menace
 21                                        Jurassic Park
 22                                     Independence Day
 23                                                Ghost
 24                           Terminator 2: Judgment Day
 25                                      The Dark Knight
 26              Harry Potter and the Half Blood Prince
 27                                         Transformers
 28    Pirates of the Caribbean: The Curse of the Bla...
 29                 Harry Potter and the Sorcerers Stone
 30                                    Avengers: Endgame
 31                                        Black Panther
 32                         Star Wars: The Force Awakens
 33              Star Wars: Episode VIII - The Last Jedi
 34                                               Avatar
 35                                         Man of Steel
 36                         Rogue One: A Star Wars Story
 37         Harry Potter and the Deathly Hallows: Part 2
 Name: Title, dtype: object)